/* MEDIA QUERIES */
@media (max-width:767px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.5em;
  }
  aside {
    border-radius: 5%;
    height: 50%;
    width: 75%;
    margin: 0.5em;
  }
  aside > img, video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
  }
  article {
    grid-area: "content";
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(219, 219, 219);
    width: 100%;
  }
}

@media (min-width:768px) {
  main {
    display: grid;
    grid-template-areas: 
          "picture" "content"
          "picture" "content";
    grid-template-columns: 2fr 1fr;
  }
  aside {
    grid-area: "picture";
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  aside > img, video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  article {
    grid-area: "content";
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(219, 219, 219);
  }
}